<% product.forEach(product=> { %>
<a href="/item/<%=product.id%>">

    <div class="pro">
        <img src="../images/<%=product.image%>" alt= " photo">
<div class="des">
    <span><%=product.category%></span>
    <h5> <%=product.title%></h5>
<div class="star">

    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>

</div>
<h5>$<%=product.Price%></h5>
    </div>
    <a href="" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
</div></a>
<% }) %>


        