<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>cart</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/chat.ejs") %>
    <%- include("./partials/tran.ejs") %>

<main>

    <div class="container">

        <h1>Shopping Cart</h1>
    
        <div class="cart">

            <div class="products">
                <%let sum1=0.0 ;%>
                <%let dis=0%>
                <% product.forEach(product=> { %>
                    

                    <div class="product">
                        <a href="/item/<%=product.id%>" class="product-link">
                          <img src="../images/<%=product.image%>" alt="Product Image" class="product-image">
                          <div class="product-info">
                            <h3 class="product-name"><%=product.title%></h3>
                            <%if( product.hasoffer==="true"){%>
                                <%let newprice=product.Price-product.Price*(product.offervalue/100)%>
                                <h5><s style="color: red;">$<%=product.Price%></s><br>$<%=newprice%></h5>
                                <%sum1=sum1+ product.Price-product.Price*(product.offervalue/100);%>
                                <%dis=dis+product.Price*(product.offervalue/100)%>
                                <br>
                            <%}else{%>
                                <p class="product-price">$<%=product.Price%></p>
                                <%sum1=sum1+product.Price ;%>
                            <%} %>
                            
                            <p class="product-offer"><%=product.category%></p>
                          </div>
                          <a class="product-remove" href="/cart/<%=product.id%>"><i class="fa-solid fa-trash"></i></a>

                        
                      </div>

                      <%})%>
    
            </div>
    
            <div class="cart-total">
                <br><br>
    
                <p>
    
                    <span>Total Price :</span>
    
                    <span>$<%=sum1%></span>
    
                </p>
                <p>
    
                    <span>You save :</span>
    
                    <span><s style="color: red;">$<%=dis%></s> </span>
    
                </p>
                <br><br>
                <p>
    
                    <span>Number of Items :</span>
    
                    <span><%=product.length%></span>
    
                </p>
    
                <br>
               <%if(product.length===0){%>
              <a  style="background-color: gray; ">No items to Checkout</a></button>
                
                

              <% } else{%>

                <a href="/checkout">Proceed to Checkout</a>
                <% }%>
    
            </div>
    
        </div>
    
    </div>
    <br><br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</main>
 </body>

  
</html>