<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smartphonespage</title>
    <link rel="shortcut icon" type="x-icon" href="../images/4151901.png">
    <link rel="stylesheet" href="../css/discount.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e390cab89c.css">
    <script src="https://kit.fontawesome.com/e390cab89c.js" crossorigin="anonymous"></script>
</head>
<body id="body">
   
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/chat.ejs") %>
    <%- include("./partials/tran.ejs") %>

      <div class="space">
       
        <div class="spacestyle">
        
           <div id="pr">Big offers</div> 
        </div>
        
                </div>
            
        <section  id="product1" class="section-p1">
            <div class="pro-container">


                <%- include("./partials/card.ejs") %>
            </div>
           
            
        </section>

            
      
                    <%- include("./partials/footer.ejs") %>

       
        
</body>

</html>