<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addUser.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Add user</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
    <script src="../scripts/adminnav.js"></script>
</head>
<body>

    <%- include("./partials/adminheader.ejs") %>
            <main>
              <form onsubmit=" " id="adduser" action="/editUseradminform" method="post">


                      <label for="fullname"  class="lab">edit Full Name</label><br>
                      <input type="text" name="fullname" id="fullname" class="in" placeholder="Full Name" required class="textBox" value="<%=data.fullname%>" ><br>
                  
                 
                      <label for="mail"  class="lab"> edit Email Address</label><br>
                      <input type="text" id="mail" type="email" class="in"  placeholder="Email" name="mail" required class="textBox" value="<%=data.mail%>" ><br>
                      <label for="mail" id="errormail" ></label>
                      
                        
             
                
                    <!--  <label for="password"  class="lab"> edit Password</label><br>
                      <input type="Password"  id="password" class="in" placeholder="Password" name="password" required class="textBox" value="<%=data.password%>">
                      <label id="errorpassword"></label><br>
                    
                  
                         
              
                      <label for="cpassword"  class="lab">confirm edited password</label><br>
                      <input type="Password" id="cpassword" class="in" placeholder="confirm password" name="cpassword" required class="textBox" value="<%=data.cpassword%>">
                      <label id="pwcErr"></label><br>  -->
                     
                  
                     <!--<label for="Address"  class="lab">Address</label><br>
                      <input type="text" id="address" class="in" placeholder="address" name="address" required class="textBox"><br>--> 

                    <!--  <label for="Type"  class="lab">edit Type</label><br> -->
                 <input type="text" name="Type" class="in" placeholder="user Type" required class="textBox" value="<%=data.Type%>" ><br>
                                          
                     <!--<input type="text" name="Type" value="user" > -->




                      <input type="hidden" name="_id" value="<%=data._id%>">
    
                  <div class="submit-btn"><button type="submit">Submit</button></div>
                  
                 
              </form>     
             <div class="submit-btn"> <a href="/change/<%=data._id%>"><button type="submit">Delete user</button></a> </div>
          </main> 
        </body>