<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/offers.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e390cab89c.css">
    <script src="https://kit.fontawesome.com/e390cab89c.js" crossorigin="anonymous"></script>
    <title>offers</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
    <script src="../scripts/adminnav.js"></script>
</head>
<body>
    <%- include("./partials/adminheader.ejs") %>
     <main>
        
    

    <h2>Current Offers</h2>
    <h2 class="current-items">Current Items</h2>
    <a href="/addoffer" class="additem"><button>ADD ITEM<span class="las la-arrow-right"></span></button> </a>
   


  <div class="filter">
    <h2>Filter by category</h2>
    <form action="/offers/filter" method="post">
      <select name="category" id="category-select">
        <option value="All">All categories</option>
        <option value="laptop">Laptops</option>
        <option value="smartphone">Smartphones</option>
      </select>
      <select name="brand" id="brand-select">
        <option value="All">All brands</option>
        <option value="apple">mac</option>
        <option value="apple">iphone</option>
        <option value="samsung">Samsung</option>
        <option value="huawei">Huawei</option>
        <option value="dell">Dell</option>
        <option value="lenovo">Lenovo</option>
      </select>
      <button type="submit">Apply</button>
    </form>
  </div>
  
  <script>
    const categorySelect = document.getElementById('category-select');
    const brandSelect = document.getElementById('brand-select');
  
    categorySelect.addEventListener('change', () => {
      if (categorySelect.value === 'laptop') {
        brandSelect.innerHTML = `
          <option value="All">All brands</option>
          <option value="apple">mac</option>
          <option value="dell">Dell</option>
          <option value="lenovo">Lenovo</option>
        `;
      } else if (categorySelect.value === 'smartphone') {
        brandSelect.innerHTML = `
          <option value="All">All brands</option>
          <option value="samsung">Samsung</option>
          <option value="huawei">Huawei</option>
          <option value="apple">iphone</option>
        `;
      } else {
        brandSelect.innerHTML = `
          <option value="All">All brands</option>
          <option value="apple">Apple</option>
          <option value="samsung">Samsung</option>
          <option value="huawei">Huawei</option>
          <option value="dell">Dell</option>
          <option value="lenovo">Lenovo</option>
        `;
      }
    });
  </script>
    
<section  id="product1" class="section-p1">
    
    <div class="pro-container">

    
    
    <% product.forEach(element => { %>

      <div class="pro">
        <img src="../images/<%=element.image%>" alt=" photo">
          <div class="des">
          <span><%=element.category%></span>
          <h5><%=element.title%></h5>
          <div class="star">

             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             <% let sp = (element.offervalue / 100) * element.Price; %>
             <% let newprice = element.Price - sp; %>

</div>
<h5><s style="color: red;">$<%=element.Price%></s><br>$<%=newprice%></h5>
    </div>
    <a href="/offers/<%=element.id%>" id="trash"><i class="fa-solid fa-trash"></i></a>
</div>
    
        
    <%});%>
        
    
        
</div>


   
         
            <a href="/addoffer" class="additem"> <button class="btn">ADD Offer<span class="las la-arrow-right"></span> </button></a>

     </main>

</body>

</html>